# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "2f407d230bc51fdc699220a617e0bd42"
name = "fabric-scanner-system"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-04"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

  [[webhooks.subscriptions]]
  topics = [ "orders/updated" ]
  uri = "/webhooks/orders/updated"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products, read_products, read_orders, read_merchant_managed_fulfillment_orders, write_merchant_managed_fulfillment_orders, read_inventory, write_inventory, read_locations"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]

[app_proxy]
url = "/api/proxy"
subpath = "fabric-scanner"
prefix = "apps"
